.g-btn-container {
  display: flex;
  width: max-content;
  margin-top: 12px;
  margin-bottom: 12px;
}

.g-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: var(--g-text); */
  user-select: none;
  min-width: 120px;
  /* width: 100px; */
  background-color: var(--g-bg);
  padding: 5px;
  border-radius: 5px;
  border: solid 1px var(--g-border-box);
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;

}
.g-btn:disabled {
  background-color: rgb(128, 128, 128);
  color: rgb(98, 98, 98);
}


.g-label-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--g-text);
  user-select: none;
}

.g-btn:hover {
  background-color: var(--g-bg-light);
}

// -----------------------------------------------
