/*--------------------------------------------------------------------- Input Container 
 */
 .g-input-container {
    position: relative;
    display: flex;
  
    margin: 20px;
  }
  
  .g-input-box {
    position: relative;
  }
  
  /*---------------------------------------------------------------------- Label 
   */
  .g-input-label {
    position: relative;
  
    color: var(--g-text);
  
  }
  
  .g-input-label p {
    position: relative;
    top: 5px;
    color: var(--g-text);
    margin: 0px;
    padding: 0px;
  }
  
  /*----------------------------------------------------------------------- Placeholder 
   */
  .g-place {
    position: absolute;
    user-select: none;
    pointer-events: none;
    color: var(--g-text-light);
    top: 0;
    left: 8px;
    transition: all 180ms ease-out;
  
  }
  
  /*------------------------------------------------------------------------ Outline 
   */
  .g-input-outline {
    background-color: var(--g-bg-dark);
    color: var(--g-text);
    outline: none;
    border: solid 1px var(--g-text);
    border-radius: 7px;
    padding: 10px 10px 10px 15px;
  
  }
  
  .g-input-outline input::placeholder {
    color: blue;
  }
  
  /*-------------------------------------------------------------------------- Active 
   */
  .g-input-active {
    color: var(--g-text);
    font-size: 12px;
    top: -18px;
    left: 5px;
    transition: all 300ms ease-in;
    animation: color-soft 600ms;
  
  }
  
  @keyframes color-soft {
    0% {
      opacity: 1;
    }
  
    40% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }