/* 
| ------------------------------------------------------------- Container
*/
.radio-container {
    display: flex;
    align-items: center;
   
   }
   .radio-container p {
    cursor: pointer;
    user-select: none;
   
   }
   /* .g-radio:hover + .g-label  {
    background-color: red;
    color: aliceblue;
   
   } */
   /* 
   | --------------------------------------------------------------- Radio box
   */
   .g-radio {
       width: 35px;
       height: 35px;
       border-radius: 50%;
       outline: solid 2px var(--g-border-box);
       background-color: var(--g-bg-light);
       /* cursor: pointer; */
   }
   .g-radio:hover {
       box-shadow: var(--g-shadow-box) 3px 3px 3px;
       outline: solid 2px var(--g-border-box);
   }
   /* 
   | ---------------------------------------------------------------- Label
   */
   .radio-container .g-label {
       padding-left: 8px;
       color: var(--g-text);
   }
   /* 
   | ----------------------------------------------------------------- Radio Inside
   */
   .g-radio-inside {
       width: 35px;
       height: 35px;
       border-radius: 50%;
       background-color: rgb(41, 128, 55);
       transform: scale(0.6);
       transition: transform 300ms ease-in-out;
   }
   .g-radio-inside-off {
       transform: scale(0);
       transition: all 300ms ease-in-out;
   }