/* 
| ---------------------------------------------------------------- Container
*/
/* .g-select-container {
    
} */
/* 
| ---------------------------------------------------------------- Select Header
*/
.g-select-header {
    position: relative;
    background-color: var(--g-bg-light);
    padding: 8px;
    border: solid rgb(184, 184, 184) 1px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--g-text);
    overflow: hidden;
}

.g-select-header:hover {
    background-color: var(--g-bg-dark);
}

.g-select-header p {
    margin: 0px !important;
    user-select: none;
}


.g-header-arrow-box {
    position: absolute;
    right: 0px;
    
    transform: scale(0.3);
    rotate: -180deg;
    transition: rotate 300ms;
}
.g-svg {
    fill: var(--g-text-lightest);
}
.g-header-arrow-box-active {
    position: absolute;
    right: 0px;
    
    transform: scale(0.3);
    rotate: 0deg;
    transition: rotate 300ms;
}
/* 
| ------------------------------------------------------------------ Select Dropdown
*/
.g-select-dropdown {
    width: 200px;
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--g-bg-light);
    color: var(--g-text);
    position: absolute;

    gap: 7px;
    z-index: 5;
}

.item-dropdown {
    padding: 7px;
    
    /* cursor: pointer; */
}

.item-dropdown:hover {
    outline: solid rgb(123, 123, 123) 1px;
    background-color: var(--g-bg-dark);
    user-select: none;
}

/* 
| -------------------------------------------------- Dropdown State
*/
.dropdown-on {
    transform-origin: top;
    transform: scaleY(1);
    transition: all 300ms ease-in-out;
}

.dropdown-off {
    transform-origin: top;
    transform: scaleY(0);
    transition: all 300ms ease-in-out;
}