/*
| -------------------------------------------------- Container Styles box
*/
.g-toggle-container {
  margin: 12px;
  position: relative;
  /* touch-action: */
  /* cursor: pointer; */
  outline: solid 1px rgb(166, 166, 166);
  width: 35px;
  height: 15px;
  background-color: var(--g-bg-light);
  border-radius: 8px;
  transition: box-shadow 500ms;
  -webkit-user-select: none;
  user-select: none;
}

.g-toggle-container:hover {
  box-shadow: var(--g-shadow-box) 3px 3px 4px;
  transition: all 300ms;
}
.g-toggle-container:hover .lever {
  box-shadow: var(--g-shadow-box) 2px 2px 3px;
  transition: all 300ms;
}
/*
  | --------------------------------------------------- Lever Styles
  */

.g-toggle-container .lever {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  z-index: 2;
}

.g-toggle-container input {
  display: none;
}
.lever-on-before {
  width: 15px;
  height: 15px;
  transition: all 250ms ease-in-out;
}

.lever-on-before::before {
  content: "";
  position: absolute;
  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  border-radius: 50%;
  background: green;
  opacity: 0.3;
  transform: scale(1.7);
  transition: transform 0.22s cubic-bezier(0, 0, 0.2, 1);
  z-index: 1;
}

/**
  * styles on state is false, lever OFF
  */
.lever-off {
  left: 0px;
  background-color: #efecea;
  transition: all 300ms ease-in-out;
  border: solid 1px rgb(149, 149, 149);
  transform: scale(1);
}

/**
    * styles on state is true, lever ON
    */
.lever-on {
  left: 20px;

  background-color: green;
  transition: all 300ms ease-in-out;
  transform: scale(1.5);
  border: solid 1px rgb(149, 149, 149);
}

/*
    | ------------------ Pseudo element from lever
    */

/*
  | ----------------------------------------------------------- Vertical Mode 
  */
.vertical-mode {
  transform: rotate(-90deg);
}
