.g-wrapper-button-container {
    width: 40px;
    height: 40px;

}
//------------------------------------------------------ Wrapeper button box
.g-wrapper-button-box {
    width: 100%;
    height: 100%;
    background-color: var(--g-bg);
    border-radius: 20%;
    border: solid 1px var(--g-text);
    padding: 20%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.g-wrapper-button-box-on {
    :nth-child(1) {
        /* width: 120%; */
        margin-left: 5%;
        transform: rotate(40deg);
        transition: all 350ms ease-in-out;
        transform-origin: bottom left;
    }

    :nth-child(2) {
        transform: scale(0);
        transition: all 350ms ease-in-out;
        /* transform-origin: bottom left; */
    }

    :nth-child(3) {
        margin-left: 5%;
        /* width: 120%; */
        transform: rotate(-40deg);
        transition: all 350ms ease-in-out;
        transform-origin: top left;
    }
}
// ----------------- Inside Element
.g-wrapper-button-inside-el {
    width: 100%;
    height: 16%;
    background-color: var(--g-text);
    transform: rotate(0deg);
    border-radius: 15%;
    transition: all 350ms ease-in-out;
}
//------------------------------------------------------------------ Sidebar
.g-wrapper-sidebar-container {
    width: 20rem;
    height: 100vh;
    position: fixed;

    top: 0;
    left: -20rem;
    transition: all 350ms ease-in;
    /* bottom: 0;
    right: 0; */
    z-index: 20;
}

.g-wrapper-sidebar-container-on {
    left: 0;
    transition: all 350ms ease-in;
}
// --------------------------------------------media movil
@media (max-width: 768px) {
    .g-wrapper-sidebar-container {
        width: 16rem;
    }
}

.g-wrapper-sidebar-box {
    width: 100%;
    height: 100%;
    background-color: var(--g-bg);
    outline: solid 1px rgb(98, 98, 98);
}
// ------------------------------------------------------------ Sidebar Header
.g-wrapper-sidebar-box-header {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    font-size: 25px;
}
.g-wrapper-sidebar-box-header hr {
    border-top: solid 1px var(--g-text-lighter);
}

// ------------------------------------------------------------ Sidebar Body
.g-wrapper-sidebar-box-body {}


//---------------------------------------------------------------