:root {
    --g-brand: #3eaf7c;
    --g-brand-light: #4abf8a;
    --g-bg: #ffffff;
    --g-bg-light: #f3f4f5;
    --g-bg-lighter: #eeeeee;
    --g-bg-dark: #ebebec;
    --g-bg-darker: #e6e6e6;
    --g-bg-navbar: rgb(202, 220, 204) /* var(--c-bg) */;
    --g-bg-sidebar: var(--c-bg);
    --g-bg-arrow: #cccccc;
    --g-text: #2c3e50;
    --g-text-accent: var(--c-brand);
    --g-text-light: #3a5169;
    --g-text-lighter: #4e6e8e;
    --g-text-lightest: #6a8bad;
    --g-text-quote: #999999;
    --g-border: #eaecef;
    --g-border-dark: #dfe2e5;
    --g-tip: #42b983;
    --g-tip-bg: var(--c-bg-light);
    --g-tip-title: var(--c-text);
    --g-tip-text: var(--c-text);
    --g-tip-text-accent: var(--c-text-accent);
    --g-warning: #ffc310;
    --g-warning-bg: #fffae3;
    --g-warning-bg-light: #fff3ba;
    --g-warning-bg-lighter: #fff0b0;
    --g-warning-border-dark: #f7dc91;
    --g-warning-details-bg: #fff5ca;
    --g-warning-title: #f1b300;
    --g-warning-text: #746000;
    --g-warning-text-accent: #edb100;
    --g-warning-text-light: #c1971c;
    --g-warning-text-quote: #ccab49;
    --g-danger: #f11e37;
    --g-danger-bg: #ffe0e0;
    --g-danger-bg-light: #ffcfde;
    --g-danger-bg-lighter: #ffc9c9;
    --g-danger-border-dark: #f1abab;
    --g-danger-details-bg: #ffd4d4;
    --g-danger-title: #ed1e2c;
    --g-danger-text: #660000;
    --g-danger-text-accent: #bd1a1a;
    --g-danger-text-light: #b5474d;
    --g-danger-text-quote: #c15b5b;
    --g-details-bg: #eeeeee;
    --g-badge-tip: var(--c-tip);
    --g-badge-warning: #ecc808;
    --g-badge-warning-text: var(--c-bg);
    --g-badge-danger: #dc2626;
    --g-badge-danger-text: var(--c-bg);
    --t-color: 0.3s ease;
    --t-transform: 0.3s ease;
    --code-bg-color: #282c34;
    --code-hl-bg-color: rgba(0, 0, 0, 0.66);
    --code-ln-color: #9e9e9e;
    --code-ln-wrapper-width: 3.5rem;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-family-code: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    --navbar-height: 3.6rem;
    --navbar-padding-v: 0.7rem;
    --navbar-padding-h: 1.5rem;
    --sidebar-width: 20rem;
    --sidebar-width-mobile: calc(var(--sidebar-width) * 0.82);
    --content-width: 740px;
    --homepage-width: 960px;
}

/* to change vuepress; "g" <=> "c"  in bottom :root */