html.dark {
    --g-shadow-box: rgba(143, 234, 46, 0.383);
    --g-border-box: rgb(122, 122, 122);
    --g-bg-primary: green;
    --g-notify-true: rgb(115, 190, 30);
    --g-notify-false: rgb(144, 25, 25);

    --g-pop-c-true: rgb(101, 176, 16);
    --g-pop-c-false: rgb(180, 40, 40);
    --g-border-select: rgb(57, 134, 141);
}
/* light root */
:root {
    --g-shadow-box: rgba(66, 66, 66, 0.383);
    --g-border-box: rgb(161, 161, 161);
    --g-bg-primary: green;
    --g-notify-true: rgb(96, 196, 96);
    --g-notify-false: rgb(237, 92, 56);
    
    --g-pop-c-true: rgb(156, 213, 91);
    --g-pop-c-false: rgb(255, 87, 87);
    --g-border-select: rgb(36, 135, 192);
}


// Background color general 
body {
    background-color: var(--g-bg);
    transition: all 300ms ease-in-out;
}
